{% extends "website/base.html" %}
{% load admin_static %}
{% load humanize %}
{% load i18n %}

{% block content %}
<section class="header-banner about-page">
    <div class="banner-overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h2>{% trans "About Nature Rich Properties" %}</h2>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="">{% trans "Home"%}</a></li>
                        <li><a class="active">{% trans "About" %}</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
