{% extends "website/base.html" %}
{% load admin_static %}
{% load humanize %}
{% load i18n %}

{% block content %}

<section class="intro-gallery">
	<div class="container-fluid padding-fix">
		<div class="banner-gallery">
			<ul>
			{% for item in banner_items %}
				<li>
				<div class="item-gallery" style="background-image: url({{ item.picture.large.url }}); background-position-y: {{ item.offset }}px;">
					<!--<img class="pic-gallery" src="">-->
					<div class="container gallery">
						<div class="caption-gallery">
							<div class="caption-title"><span>{{ item.caption_title }}</span></div>
							<div class="caption-description"><span>{{ item.caption_description }}</span></div>
						</div>
					</div>

				</div>
				</li>
			{% endfor %}
		</ul>
		</div>
	</div>
</section>

<section class="latest-property">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="property">
					<h1 class="section-heading wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0s; animation-name: fadeInUp;">{% trans "Amazing" %} <span>{% trans "Properties" %}</span></h1>
					<p class="section-desc wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0s; animation-name: fadeInUp;">{% trans "Here you can find our exclusive listing of nature rich properties in Honduras" %}</p>
				</div>
			</div><!-- end .col-md-12 -->
		</div><!-- end .row -->
	</div><!-- end .container -->
</section>

<section class="property-lists">
    <div class="container">
        <div class="row">
            {% for property in properties %}
                <div class="col-md-4 col-sm-6 wows fadeInUp" data-wow-duration="1.0s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <div class="latest-pic1" style="background-image: url({{ property.get_feature_picture.picture.medium.url }});">
                    </div><!-- end .latest-pic -->
                    <div class="latest-pic-bottom">
                        <div class="pic-address">
                            <div class="row">
                                <div class="col-md-6">
                                    <div>
                                        {{ property.address }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="property-price">
                                        <span>${{ property.price | floatformat:"0" | intcomma  }}</span>
                                    </div>
                                </div>
                            </div>


                        </div><!-- end .pic-address -->
                        <div class="description-wrap">
                            <div class="pic-description">
                                <h3><a href="{{ property.get_absolute_url }}">{{ property.name }}</a></h3>
                                <p class="property-description-nrp">{{ property.description | truncatechars:100 }}
                            </p></div><!-- end .pic-description -->
                            <div class="pic-mesure" style="border-top: none;">
                                {% comment %}
                                <span><i class="fa fa-object-group"></i> 800 sq ft</span>
                                <span><i class="fa fa-bed"></i> 2 Badrooms</span>
                                <span><i class="fa fa-retweet"></i> 2 Baths</span>
                                {% endcomment %}
                            </div><!-- end .pic-mesure -->
                        </div><!-- end .desctription-wrapper -->
                    </div> <!-- end .latest-pic-bottom -->
                </div><!-- end .col-md-4 -->
				{% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
            {% endfor %}

        </div><!-- end .row -->
    </div><!-- end .container -->
</section>

{% endblock %}

{% block custom_js %}
	<script>
		jQuery(document).ready(function($) {
			$('.banner-gallery').unslider({
				animation: 'fade',
				autoplay: true,
				speed: 1250,
				delay: 7000,
				arrows: true,
				nav: true,
				arrows: {
					prev: '<a class="unslider-arrow prev"></a>',
					next: '<a class="unslider-arrow next"></a>',
				}
			});
		});
	</script>
{% endblock %}
