{% extends "website/base.html" %}
{% load admin_static %}
{% load humanize %}
{% load i18n %}
{% load l10n %}

{% block custom_css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}

<section class="header-banner single-property-banner listings">
    <div class="banner-overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h2>{% trans "Our Listings" %}</h2>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="">{% trans "Home" %}</a></li>
                        <li><a class="active">{% trans "Our Listings" %}</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="property-listings">
    <div class="container">
        {% comment %}
        <div class="filter-container">
            <form class="" action="index.html" method="post">
                <select class="form-control property-filters" name="property-filters" multiple="multiple">
                    <option value="1">Hello</option>
                    <option value="2">Hello</option>
                </select>

                <button type="button" name="button">{% trans "Search" %}</button>
            </form>

        </div>
        {% endcomment %}
    	<div class="row blog-row-one">

            {% for property in properties %}
                <div class="col-md-6 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.3s">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="property-card">
                                <div class="left-property-listing">
                                    <img src="{{ property.get_feature_picture.picture.thumbnail.url  }}" alt="placeholder image">
                                </div>

                                <div class="right-property-listing blog-content">

                                    <div class="property-main-container">
                                        <h4>{{ property.name }}</h4>

                                        <div class="property-info-container">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="prop-price-container">
                                                        <span class="prop-price">{{ property.price | floatformat:"0" | intcomma }}</span>
                                                    </div>
                                                    <div class="property-address">
                                                        <span class="blog-date">{{ property.address }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <p>
                                            {{ property.description | truncatewords:15 }}
                                        </p>
                                    </div>

                                    <a href="/realestate/detail/{{ property.id }}">{% trans "Read More"%}</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

    </div><!-- end .container -->

</section>


{% endblock %}

{% block custom_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

    <script type="text/javascript">
      $('.property-filters').select2();
    </script>
{% endblock %}
