{% extends "website/base.html" %}
{% load admin_static %}
{% load humanize %}
{% load i18n %}
{% load l10n %}

{% block content %}

<section class="header-banner single-property-banner">
    <div class="banner-overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h2>{{ property.name }}</h2>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="">{% trans "Home" %}</a></li>
                        <li><a class="active">{{ property.name }}</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="single-property">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div class="property-name">
					<h2>{{ property.name }} <span>{% trans "For Sale" %}</span> </h2>
					<p>{{ property.address }}</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="property-price">
					<h2>${{ property.price | floatformat:"0" | intcomma}}</h2>
				</div>
			</div>

			<div class="col-sm-12">
				<div class="property-gallery">
                    <ul>
                        {% for picture in property.pictures.all %}
                            <li>
                                <img class="property-picture large" src="{{ picture.picture.large.url }}" alt="Beach House in Granadita">
                                <img class="property-picture medium" src="{{ picture.picture.medium.url }}" alt="Beach House in Granadita">
                                <img class="property-picture small" src="{{ picture.picture.small.url }}" alt="Beach House in Granadita">

                                {% comment %}
                                <div class="item-gallery" style="background-image: url({{ item.picture.large.url }}); background-position-y: {{ item.offset }}px;">

                					<div class="container gallery">
                						<div class="caption-gallery">
                							<div class="caption-title"><span>{{ item.caption_title }}</span></div>
                							<div class="caption-description"><span>{{ item.caption_description }}</span></div>
                						</div>
                					</div>

                				</div>
                                {% endcomment %}
                            </li>
                        {% endfor %}
                    </ul>
				</div>
			</div>

			<div class="col-sm-9 single-property-details">
                <div class="property-description">
                    <h2 class="pd-title">{% trans "Description" %}</h2>
                    <p>{{ property.description }}</p>

                </div>

                <div class="property-location">
                   <h2 class="pd-title">{% trans "Address" %}</h2>
                    <div class="row">
                        <div class="col-sm-4">
                            <ul>
                                <li><strong>{% trans "Address" %}:</strong> {{ property.address }}</li>
                                <li><strong>{% trans "City" %}:</strong> {{ property.city }}</li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <ul>
                                <li><strong>{% trans "Neighborhood" %}:</strong> {{ property.neighborhood }}</li>

                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <ul>
                                <li><strong>{% trans "State" %}:</strong> {{ property.state }}</li>
                                <li><strong>{% trans "Country" %}:</strong> {{ property.country }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="property-map" class="property-detail">
                            </div>
                        </div>
                    </div>
                </div>

                {% comment %}
                <div class="property-details-list">
                    <h2 class="pd-title">Details</h2>
                    <div class="alert alert-success">
                        <ul class="list-details">
                            <li><strong>Property ID:</strong> HZ33</li>
                            <li><strong>Price:</strong> $670,000</li>
                            <li><strong>Property Size:</strong> 1200 Sq Ft</li>
                            <li><strong>Bedrooms:</strong> 4</li>
                            <li><strong>Bathrooms:</strong> 2</li>
                            <li><strong>Garage:</strong> 1</li>
                            <li><strong>Garage Size:</strong> 200 SqFt</li>
                            <li><strong>Year Built:</strong> 2016-01-09</li>
                        </ul>
                    </div>

                    <h3>Additional Details</h3>
                    <ul class="list-details">
                        <li><strong>Deposit:</strong> 20%</li>
                        <li><strong>Pool Size:</strong> 300 Sqft</li>
                        <li><strong>Last remodel year:</strong> 1987</li>
                        <li><strong>Amenities:</strong> Clubhouse</li>
                        <li><strong>Additional Rooms::</strong> Guest Bath</li>
                        <li><strong>Equipment:</strong> Grill - Gas</li>
                    </ul>
                </div><!-- End Property details List -->

                <div class="property-features">
                    <h2 class="pd-title">Features</h2>
                    <ul class="list-features">
                        <li><i class="fa fa-check"></i> Air Conditioning</li>
                        <li><i class="fa fa-check"></i> Barbeque</li>
                        <li><i class="fa fa-check"></i> Dryer</li>
                        <li><i class="fa fa-check"></i> Gym</li>
                        <li><i class="fa fa-check"></i> Laundry</li>
                        <li><i class="fa fa-check"></i> Lawn</li>
                        <li><i class="fa fa-check"></i> Swiming Pool</li>
                        <li><i class="fa fa-check"></i> Yard</li>
                        <li><i class="fa fa-check"></i> WiFi</li>
                        <li><i class="fa fa-check"></i> TV Cable</li>
                        <li><i class="fa fa-check"></i> Washer</li>
                        <li><i class="fa fa-check"></i> Window Coverage</li>
                        <li><i class="fa fa-check"></i> Outdoor Shower</li>
                        <li><i class="fa fa-check"></i> Sauna</li>
                        <li><i class="fa fa-check"></i> Nicrowave</li>
                    </ul>
                </div><!-- End Property Featues -->
                {% endcomment %}
                <div class="property-contact-info">
                    <h2 class="pd-title">{% trans "Contact Info" %}</h2>
                    <div class="agent-media clearfix">
                        {% comment %}
                        <img src="http://placehold.it/150x150" alt="" class="pull-left">
                        <ul>
                            <li>Contact Agent</li>
                            <li><i class="fa fa-user"></i> Brittany Watkins</li>
                            <li><i class="fa fa-phone"></i> 321 456 9874</li>
                            <li>
                                <span><a href="#"><i class="fa fa-facebook-square"></i> Facebook</a></span>
                                <span><a href="#"><i class="fa fa-twitter-square"></i> Twitter</a></span>
                                <span><a href="#"><i class="fa fa-linkedin-square"></i> Linkedin</a></span>
                                <span><a href="#"><i class="fa fa-google-plus-square"></i> Google Plus</a></span>
                            </li>
                        </ul>
                        {% endcomment %}
                    </div>

                    <h3>{% trans "Inquire about this property" %}</h3>
                    <form action="#">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4">
                                    <input type="text" placeholder="{% trans "Your Name" %}">
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" placeholder="{% trans "Phone" %}">
                                </div>
                                <div class="col-sm-4">
                                    <input type="email" placeholder="{% trans "Email" %}">
                                </div>
                                <div class="col-sm-12">
                                    <textarea placeholder="{% trans "Hello, I am interested in [Single Family Home]..."%}"></textarea>
                                </div>
                                <input type="submit" value="{% trans "Request Info" %}">
                            </div>
                        </div>
                    </form>
                </div><!-- End Property Contact Info -->
			</div><!-- End property details -->

			<aside class="col-sm-3 hidden-xs">
			    <div class="sidebar-widget">
                    <h3 class="widget-title">{% trans "Recent Properties" %}</h3>
                    <div class="widget-content">
                        <div class="small-property-list">
                            {% for property in recent_properties %}
                                <div class="small-property clearfix">
                                    <div class="property-small-picture col-sm-12 col-md-4">
                                        <a href="/realestate/detail/{{ property.id }}">
                                            <img src="{{ property.get_feature_picture.picture.thumbnail.url }}" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="property-small-content col-sm-12 col-md-8">
                                        <h4><a href="">{{ property.name }}</a></h4>
                                        <p><span>${{ property.price | floatformat:"0" | intcomma }}</span></p>
                                    </div>
                                </div><!-- Small Property Ends -->
                            {% endfor %}


                        </div>
                    </div><!-- Widget content Ends -->
                </div><!-- Sidebar Widget Ends -->
			</aside>
		</div>
	</div><!-- End container -->
</section>
{%  endblock %}

{% block custom_js %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvtHCa400cbhKREGWie6fOBi8WK13OVPc&amp;extension=.js"></script>
<script>
    jQuery(document).ready(function($) {
        $('.property-gallery').unslider({
            animation: 'fade',
            autoplay: true,
            speed: 1250,
            delay: 7000,
            arrows: true,
            nav: true,
            arrows: {
                prev: '<a class="unslider-arrow prev"></a>',
                next: '<a class="unslider-arrow next"></a>',
            }
        });
    });

    $(function () {

        function initMap() {

            var location = new google.maps.LatLng({{ property.latitude | unlocalize }}, {{ property.longitude | unlocalize }});

            var mapCanvas = document.getElementById('property-map');
            var mapOptions = {
                center: location,
                zoom: {{ property.map_zoom }},
                panControl: false,
                scrollwheel: false,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            var map = new google.maps.Map(mapCanvas, mapOptions);

            var markerImage = '{% static "website/images/map-marker.png" %}';

            var marker = new google.maps.Marker({
                position: location,
                map: map,
                icon: markerImage
            });

            var styles = [
    			{
    				"featureType": "landscape",
    				"elementType": "all",
    				"stylers": [
    					{
    						"color": "#f2f2f2"
    					}
    				]
    			},
    			{
    				"featureType": "poi",
    				"elementType": "all",
    				"stylers": [
    					{
    						"visibility": "on"
    					}
    				]
    			},
    			{
    				"featureType": "road",
    				"elementType": "all",
    				"stylers": [
    					{
    						"saturation": -100
    					},
    					{
    						"lightness": 45
    					}
    				]
    			},
    			{
    				"featureType": "road.highway",
    				"elementType": "all",
    				"stylers": [
    					{
    						"visibility": "simplified"
    					}
    				]
    			},
    			{
    				"featureType": "road.arterial",
    				"elementType": "labels.icon",
    				"stylers": [
    					{
    						"visibility": "off"
    					}
    				]
    			},
    			{
    				"featureType": "transit",
    				"elementType": "all",
    				"stylers": [
    					{
    						"visibility": "off"
    					}
    				]
    			}
    		];

            map.set('styles', styles);
        }
        google.maps.event.addDomListener(window, 'load', initMap);
    });
</script>
{% endblock %}
