.fa-25x{
    font-size: 2.5em;
}

.about-ecoreal-content{
    padding: 50px 0;
}

.who-we-are-right{
    background: url(/static/website/images/about-hero.jpg);
    background-position: center center;
    background-size: 130% auto;
    background-repeat: no-repeat;
}
.sell-property{
    background: url(/static/website/images/casa.jpg);
    background-attachment: fixed;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 200px;
}

section.property-listings{
    margin-top: 60px;
}

section.property-listings .blog-content a{
    display: inline-block;
}

.right-property-listing{
    overflow: hidden;
    min-height: 50px;
    margin-bottom: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

.blog-content p{
    padding-bottom: 10px;
}

 .left-property-listing{
    /*float: left;*/
    width: 260px;
    margin: 0 10px 20px 0;
}

.left-property-listing img{
   width: 260px;
   height: auto;
}

.blog-content .blog-admin{
    visibility: hidden;
}

.blog-content .blog-date:before{
    content: "\f041";
    font-family: FontAwesome;
    left: 0;
    position: absolute;
    top: unset;
    color: #4cb050;
}

.property-card{
    box-shadow: 1px 2px 12px -4px rgba(0, 0, 0, .4);
    padding-bottom: 20px;
    height: 260px;
}

.blog-content .blog-date{
    float: unset;
}

.blog-content .blog-admin:before{
    content: "\f155";
    font-family: FontAwesome;
    left: 0;
    position: absolute;
    top: 0;
    color: #4cb050;
}

div.address-container{
    margin-bottom: 10px;
}

.address-prop{
    color: darkorange;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        text-align: right;
}

#my-navbar{
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, .4);
    z-index: 2;
}

.single-property-banner.listings{
    background: url(/static/website/images/properties.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.latest-property p{
    font-size: 18px;
}

.pic-address .property-price{
    text-align: right;
    margin: 0 10px 0 0;
}

.footer{
    background: unset;
    background-attachment: unset;
    background-repeat: unset;
    background-size: unset;
    background-position: unset;
}

.footer-below{
    background: url(/static/website/images/dark_wood.png);
    background-size: 20%;
    background: black;
    text-align: center;
        padding: 10px 0;
}

.logo{
    margin-top: -12px;
}

.logo img{
    width:auto;
    height:85px;
}

.banner-gallery{
    height: 450px;
    z-index: 1;
}

.item-gallery{
    min-height: 450px;
    background-repeat: no-repeat;
    display: flex;
}

.item-gallery .container.gallery{
    position: relative;
}

.caption-gallery{
    position: absolute;
    bottom: 50px;
    max-width: 50%;
}

.caption-title{
    font-size: 1.8em;
    background-color: #4CB050;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding: 15px;
    margin-bottom: 10px;
    display: inline-block;
}

.caption-description{
    1em;
    line-height: 1.15em;
    color: #555;
    background-color: #e5e5e5;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 768px){
    .container.gallery {
        width: 100%;
    }

    .item-gallery{
        min-height: 350px;
    }

    .banner-gallery{
        height: 350px;
    }
}

.unslider{
    position: relative;
}

.unslider-arrow {
    position: absolute;
    left: 20px;
    z-index: 2;
    cursor: pointer;
    display: block;
    width: 42px;
    height: 42px;
    top: 50%;
    right: -50px;
    left: auto;
    margin-top: -42px;
    overflow: hidden;
    background: rgba(10,10,10,0.5) no-repeat 50% 50%;
    background-image: url(/static/website/images/arrow.png);
    background-size: 7px 11px;
    border-radius: 32px;
    transition: background .2s;
}

.unslider-arrow:hover {
    /*opacity: 1;*/
    background: rgba(10,10,10,0.7) no-repeat 50% 50%;
    background-image: url(/static/website/images/arrow.png);
    background-size: 7px 11px;
}

.unslider-arrow.prev {
    z-index: 2;
    right: unset;
    transform: rotate(-180deg);
    left: 20px;
}

.unslider-arrow.next {
    z-index: 2;
}

.unslider-nav ol li {
    border-color: #4CB050;
    width: 12px;
    height: 12px;
}

.unslider-nav ol li.unslider-active {
    background: #4CB050;
}

.latest-property{
    padding: 60px 0 70px 0;
}

.property-gallery .property-picture{
    display: none;
}

@media only screen and (min-width : 320px) {
    .property-gallery{
        height: 350px;
    }

    .property-gallery .property-picture{
        display: none;
    }

    .property-picture.small{
        display: block;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .property-gallery .property-picture{
        display: none;
    }

    .property-picture.small{
        display: block;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .property-gallery{
        height: 400px;
    }

    .property-gallery .property-picture{
        display: none;
    }

    .property-picture.medium{
        display: block;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .property-gallery{
        height: 630px;
    }
    .property-gallery .property-picture{
        display: none;
    }

    .property-picture.large{
        display: block;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .property-gallery{
        height: 630px;
    }
    .property-gallery .property-picture{
        display: none;
    }

    .property-picture.large{
        display: block;
    }
}

.property-description, .property-location, .property-contact-info {
    box-shadow: 1px 2px 12px -4px rgba(0, 0, 0, .4);
}

aside.col-sm-3 {
    box-shadow: 1px 2px 12px -4px rgba(0, 0, 0, .4);
}

#property-map.property-detail{
    height: 350px;
    margin-top: 10px;
    border: 1px solid #e4e4e4;
}

.message-container{
    margin: 0 15px;
}

.property-detail.message-container{
    margin: 0px;
}

.property-contact-info form textarea{
    padding-top: 10px;
}

.contact-box{
    box-shadow: 1px 2px 12px -4px rgba(0, 0, 0, .4);
}

.property-contact-info form button[type=submit]{
    background: #4cb050 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-weight: 600;
    margin-left: 15px;
    width: auto;
    margin-top: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
    height: 40px;
    padding: 0 15px;
}

.header-banner.contact{
    background: url(/static/website/images/propiedades.jpg);
    background-position: 100% 70%;
    background-size: cover;
}

.header-banner.howto{
    background: url(/static/website/images/como-comprar-2.jpg);
    background-position: 100% 100%;
    background-size: cover;
}

.header-banner.about-page{
    background: url(/static/website/images/arboles.jpg);
    background-position: 100% 70%;
    background-size: cover;
}

.blog-content .blog-date{
    padding-left: 15px;
    font-weight: bold;
}

.prop-price-container{
    display: inline-block;
    position: relative;
}

.prop-price {
    padding-left: 15px;
    font-weight: bold;
}

.prop-price:before {
    content: "\f155";
    font-family: FontAwesome;
    left: 0;
    position: absolute;
    top: 0;
    color: #4cb050;
}

@media only screen and (min-width : 320px) {

}

@media only screen and (max-width : 479px) {
    .property-card{
        height: 100%;
        margin-bottom: 20px;
        padding-bottom: 0px;
    }

    .left-property-listing{
        float:none;
        width: 100%;
        margin: 0;
        height: 280px;
        overflow-y: hidden;
    }

    .left-property-listing img{
        width: 100%;
    }

    .right-property-listing{
        padding: 10px;
        margin-bottom: 0px;
    }

    .property-address {
        display: inline-block;
        margin-left: 10px;
    }

    .property-info-container{
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .prop-price-container{
        float: left;
    }

    .property-address{
        float: right;
    }

    .blog-content a{
        margin-left: calc(100% - 120px);
    }
}

@media only screen and (min-width : 480px) {
    .property-card{
        height: 100%;
        margin-bottom: 20px;
        padding-bottom: 0px;
        max-width: 540px;
        margin-left: auto;
        margin-right: auto;
    }

    .property-main-container{
        max-height: 145px;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .property-info-container{
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .prop-price-container{
        float: left;
    }

    .property-address {
        display: inline-block;
        margin-left: 10px;
        float: right;
    }

    .left-property-listing{
        float: left;
        width: calc(33% + 22px);
        max-width: 200px;
        height: 200px;
        margin: 0;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .blog-content h4{
        margin-top: 0px;
            margin-bottom: 5px;
    }

    .left-property-listing img{
        width: 200px;
        height: 200px;
    }

    .right-property-listing{
        overflow: hidden;
        padding: 15px 20px;
        margin-bottom: 0px;
        height: 200px;
        position: relative;
    }

    .blog-content a{
        margin-left: calc(100% - 120px);
        padding: 5px 22px;
        width: 120px;
        position: absolute;
        bottom:0;
        right: 0;
    }

    .blog-content p{
        padding-bottom: 0px;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
